# Виртуальное окружение
venv/
env/
ENV/

# Файлы с секретами
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (если не хотите хранить её в Git)
*.db
*.sqlite3

# Папки с загруженными и сгенерированными фото
uploads/
outputs/

# Временные файлы
*.log
*.tmp